<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Ruby Editor"
            extensions="rb"
            icon="icons/ruby.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="rubyeditor.editors.RubyEditor"
            id="rubyeditor.editors.RubyEditor">
      </editor>
   </extension>

</plugin>
